@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

:root {
  --theme: #20062e;
  --blue: #18b2de;
  --white: #fff;
  --grey: #d7d7d7;
  --purple-grey: #8f8297;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--theme);
  color: var(--white);
}

input {
  font-family: "Inter", sans-serif;
}

.input-wrapper {
  width: 70vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 1.8rem;
}

.input-wrapper h1 {
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 1.2rem;
}